//==== COLORS ====
$main-color: rgb(19, 19, 114);
$primary-color: rgb(150, 8, 231) ;
$secondary-color: yellow;
$link-color: $secondary-color;

//==== FONTS ====
$font-size: 35px;

//==== SIZES ====
$header-height: 500px;
$footer-height: 400px;